@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

.montserrat, h1, p{
    font-family: 'Montserrat', sans-serif;
}

html, body{
    overflow-x: hidden;
}

.nav-container{
    padding: 20px;
}

.navbar{
    border-radius: 10px 0 10px 0;
    /* border: 2px solid rgb(49,125,1, 0.4); */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, .6) !important;
    /* background: #DDD; */
}

.navbar-brand span{
    font-weight: bold;
    color: #317D01;
}

.navbar a{
    color: #DDD !important;
    /* color: #444 !important; */
    font-weight: bold;
}

.navbar a.active{
    color: gold !important;
}

header{
    position: relative;
    background: url('assets/img/coconut-wallpapers.jpg');
    background-size: cover;
    background-position: center center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 74% 91%, 25% 100%, 0 89%);
}

#header-blur{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 5;
}

#header-content{
    position: relative;
    padding: 0px 0px;
    color: #DDD !important;
    z-index: 10 !important;
}

.header-info{
    /* height: 60vh; */
    padding: 120px 20px;
}

.bigtitle{
    border-left: 10px solid #317D01;
    padding-left: 10px;
}

.bigtitle span{
    display: block;
}

.bigtitle span:nth-child(odd){
    font-size: 2em;
}

.header-info p{
    padding: 20px 0;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbarNav{
    justify-content: flex-end;
    margin-right: 5vw;
}


/* *************** */

.segment.about-us{
    /* background: #317D01; */
}

.about-container{
    min-height: 500px;
}

.about-image{
    padding: 50px;
    position: relative;
    height: 100%;
}

.about-image > div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: blue; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.about-image img{
    width: 400px;
    height: auto;
    border-radius: 5px;
}

.about-image #satu img{
    transform: rotate(0) scale(1.2);
    opacity: 0.2;
    margin-top: 50px;
    margin-left: -50px;
}

.about-image #dua img{
    transform: rotate(0) scale(1.1);   
    opacity: 0.3;
    margin-top: -50px;
    margin-left: 50px;
}

.about-content{
    padding: 100px 50px;
}

.about-content p{
    text-align: justify;
}


/* ******************* */

.segment.produk{
    margin-top: 50px;
    height: 600px;
    background: gold;
    /* clip-path: polygon(55% 0, 78% 6%, 100% 0, 100% 93%, 60% 100%, 20% 90%, 0 100%, 0 8%, 20% 15%); */
    clip-path: polygon(55% 0, 78% 6%, 100% 0, 100% 93%, 60% 100%, 20% 90%, 0 100%, 0 8%, 20% 15%);
}

.segment.produk .dekorasi{
    height: 600px;
    background: #317D01;
    /* clip-path: polygon(0% 15%, 17% 9%, 35% 22%, 64% 6%, 85% 15%, 100% 15%, 100% 85%, 84% 96%, 62% 83%, 35% 91%, 15% 85%, 0 95%); */
    clip-path: polygon(0% 15%, 17% 9%, 35% 22%, 64% 6%, 85% 15%, 100% 15%, 100% 85%, 84% 96%, 62% 83%, 35% 91%, 15% 85%, 0 95%);
}

.splash-left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.splash-left img{
    height: 400px;
    width: auto;
    display: inline-block;
}

.splash-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    color: #ddd;
}

.splash-right h1{
    display: block;
    font-weight: bold;
    width: 100%;
    text-align: left !important;
}


/* ************** */

.segment.showcase{
    /* background: ; */
    /* height: 600px; */
}

.showcase-item{
    height: 300px;
    margin-top: 50px;
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 15%);
    border-radius: 10px;
    overflow: hidden;
}

.showcase-item h1{
    display: inline-block;
    border-bottom: 6px solid #317D01;
    padding: 10px 50px 10px 10px;
    font-size: 1.8em;
}

.showcase-img{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.showcase-img img{
    width: 100%;
    height: auto;
}

/* ************* */

.segment.visimisi {
    /* height: 500px; */
    margin: 50px 0;
    background: #EAEAEA;
    padding: 50px 0;
    position: relative;
}

.visimisi #particles-js{
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.visimisi .container{
    position: relative;
    z-index: 5;
}

.visimisi h1{
    text-align: center;
}

.video-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video-wrapper img{
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 15%);
}

#play-btn{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ************ */

.segment.inquiry{
    /* background: #FFD700; */
}

.segment.inquiry .left{
    background: url('assets/img/cs.jpg'); 
    background-size: cover;
    background-position: center right;
    border-radius: 0px 20px 20px 0;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
}


/* *********** */

.segment.sponsor{
    background: #FFD700;
    margin: 100px 0 0 0;
    text-align: center;
    position: relative;
}

#sponsor-layer{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('assets/img/coconut-frame.png') no-repeat;
    background-size: cover;
    background-position: center top;
}

.segment.sponsor > .row{
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, .2);
    color: #fff;
}

.segment.sponsor h1{
    background: rgba(0, 0, 0, .2);
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.segment.sponsor button{
    border: 0;
    background: #317D01;
    color: #DDD;
    padding: 20px 20px;
    font-size: 1.5em;
    border-radius: 20px 0 20px 0;
}

/* *********** */

footer{
    /* margin-top: 100px; */
    /* height: 400px; */
    background:#317D01;
}

footer .container{
    color: #ddd;
}

footer h2{
    display: inline-block;
    border-bottom: 6px solid gold;
    padding-right: 100px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

footer .container .row div div{
    padding-left: 20px;
}

footer ul{
    list-style-type: none;
    padding-left: 0 !important;
}

footer li{
    line-height: 2em;
}

footer ul#sosmed li{
    display: inline-block;
}

footer button{
    border: 0;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

footer button:hover{
    background: gold;
}

footer button:hover i{
    color: #317D01;
}

footer button i{
    font-size: 1.2em;
}

.copyright{
    padding: 5px 0 20px 0;
    color: #ddd;
}

#moveTop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px;
    height: 70px;
    background: #fff;
    border: 6px solid #7A4C01;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999 !important;
    cursor: pointer;
}

#moveTop .inner{
    width: 40px;
    height: 40px;
    background: #EAEAEA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#moveTop .inner i{
    font-size: 1.5em;
    display: inline-block;
    color: #CCC;
}

#moveTop:hover .inner i{
    color: #AAA;
}